footer {
  border-top: 1px solid lightgray;
  padding: 20px;
  background-color: #f7f7f7;
  bottom: 0;
  text-align: center;
}
footer .footer__links {
  display: flex;
  justify-content: center;
  padding: 10px;
  height: 5vh;
  align-items: center;
  text-align: center;
}
footer .footer__links p {
  display: flex;
  margin: 0 1rem;
  cursor: pointer;
}

footer .footer__links p:hover {
  color: #ff7779;
}
